.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 35px;
}

.page,
.arrow {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}

.page:hover,
.arrow:hover {
  background: DodgerBlue;
  color: #ffffff;
}
