.movie-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.ant-row {
  max-width: 1000px;
  margin: 0 auto !important;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ant-pagination-item-active {
  background-color: DeepSkyBlue !important;
  border-color: DeepSkyBlue !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
}
