.search-container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labels {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  margin: 13px 0 19px 0;
  border-bottom: 2px solid DeepSkyBlue;
}

.search-label {
  color: DeepSkyBlue;
}

.search-input {
  width: 100%;
  max-width: 950px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 35px 35px 35px;
}

@media (max-width: 767px) {
  .search-input {
    width: 90%;
    margin: 0 16px 10px 16px;
  }
}
